---
import CategoryDropdownMobile from "./components/CategoryDropdownMobile.astro";
import SearchBarMobile from "./components/SearchBarMobile.astro";
---

<form class="w-full">
  <div class="flex">
    <CategoryDropdownMobile />
    <SearchBarMobile />
  </div>
</form>
