---
import CategoryDropdownDesktop from "./components/CategoryDropdownDesktop.astro";
import SearchBarDesktop from "./components/SearchBarDesktop.astro";
---

<form class="w-full max-w-lg">
  <div class="flex">
    <CategoryDropdownDesktop />
    <SearchBarDesktop />
  </div>
</form>
