---
import Layout from "../layouts/Layout.astro";
import CartList from "../features/cart/components/CartList.astro";
---

<Layout title="Tu Carrito de Compras">
  <main class="container mx-auto p-4 md:p-8 space-y-8">
    <!-- <h1
      class="text-3xl font-bold text-gray-900 dark:text-white mb-6 text-center"
    >
      Tu Carrito de Compras
    </h1> -->

    <div
      id="cart-container"
      class="flex flex-col lg:flex-row gap-8 items-start"
    >
      <!-- <section class="flex-grow w-full space-y-4">
        <div id="cart-items" class="space-y-4">
          <p id="empty-cart-message" class="text-center text-gray-500">
            Aún no has agregado productos a tu carrito
          </p>
        </div>
      </section> -->
      <CartList />

      <aside
        class="w-full lg:w-1/3 p-6 bg-gray-100 dark:bg-gray-800 rounded-lg shadow-md space-y-4 sticky top-4"
      >
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
          Resumen del Pedido
        </h2>
        <div class="space-y-2">
          <div class="flex justify-between text-gray-700 dark:text-gray-300">
            <span>Subtotal:</span>
            <span id="subtotal-price">$0.00</span>
          </div>
          <div
            class="flex justify-between font-bold text-gray-900 dark:text-white"
          >
            <span>Total:</span>
            <span id="total-price">$0.00</span>
          </div>
        </div>
        <button
          id="checkout-button"
          class="w-full py-3 px-4 text-white bg-lime-600 rounded-lg hover:bg-lime-700 disabled:bg-gray-400 disabled:cursor-not-allowed transition-colors"
          disabled
        >
          Proceder al Pago
        </button>
      </aside>
    </div>
  </main>
</Layout>
