---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="h-[calc(100vh-4rem)] flex flex-col gap-8 p-4 max-w-[90rem] mx-auto items-center justify-center"
  >
    <div
      class="w-full max-w-md p-4 md:px-8 space-y-6 bg-white dark:bg-gray-800 rounded-lg shadow-md"
    >
      <h1 class="text-2xl font-bold text-center text-gray-900 dark:text-white">
        Inicia Sesión
      </h1>

      <form id="login-form" class="space-y-6" novalidate>
        <!-- Email Field -->
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
            >Correo</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="w-full px-4 py-2 text-gray-900 bg-gray-50 border rounded-lg focus:ring-blue-500 focus:outline-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white transition-colors duration-200"
          />
        </div>

        <!-- Password Field -->
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300"
            >Contraseña</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="w-full px-4 py-2 text-gray-900 bg-gray-50 border rounded-lg focus:ring-blue-500 focus:outline-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white transition-colors duration-200"
          />
        </div>

        <!-- Sign Up Link -->
        <div class="flex items-center justify-center">
          <p
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            ¿Quieres crear una cuenta? Entonces mejor&nbsp;
          </p>
          <a
            class="block mb-2 text-sm font-medium text-lime-500 no-underline hover:underline"
            href="/signup">regístrate</a
          >
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          id="submit-button"
          class="w-full px-5 py-3 text-base font-medium text-center text-white bg-lime-500 rounded-lg hover:bg-lime-700 focus:ring-4 focus:ring-lime-300 disabled:bg-gray-400 disabled:cursor-not-allowed dark:bg-lime-600 dark:hover:bg-lime-500 dark:focus:ring-lime-700 dark:disabled:bg-gray-600 transition-colors duration-200"
        >
          Iniciar Sesión
        </button>
      </form>
    </div>
  </main>
</Layout>

<script>
  // @ts-nocheck
  import { BACK_ENDPOINT } from "../config/endpoints";
  import ky from "ky";
  import AuthModule from "../features/auth/auth.module.js";

  // DOM Element Selection
  const form = document.querySelector("#login-form");
  const emailInput = document.querySelector("#email");
  const passwordInput = document.querySelector("#password");

  // Form Submission
  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    try {
      await ky.post(`${BACK_ENDPOINT}/api/login`, {
        json: { email: emailInput.value, password: passwordInput.value },
      });
      location.assign("/");
    } catch (error) {
      const errorData = await error?.response?.json();
      createNotification({
        title: "Ups! Hubo un error",
        description: errorData?.error ?? "Sin mensaje",
        type: "error",
      });
    }
  });
</script>
