---
import ClientProductsList from "../../components/client/ClientProductsList.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Productos">
  <html lang="es">
    <head>
      <title>Productos</title>
    </head>
    <body>
      <main>
        <ClientProductsList />
      </main>
    </body>
  </html>
</Layout>
