<button
  id="dropdown-button-mobile"
  data-dropdown-toggle="dropdown-mobile"
  class="shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-1 focus:outline-none focus:ring-gray-100"
  type="button"
>
  Categorías
  <svg
    class="w-2.5 h-2.5 ms-2.5"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 6"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 1 4 4 4-4"></path>
  </svg>
</button>
<div
  id="dropdown-mobile"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44"
>
  <ul
    class="py-2 text-sm text-gray-700"
    aria-labelledby="dropdown-button-mobile"
  >
    <li>
      <button
        type="button"
        class="inline-flex w-full px-4 py-2 hover:bg-gray-100">Mockups</button
      >
    </li>
    <li>
      <button
        type="button"
        class="inline-flex w-full px-4 py-2 hover:bg-gray-100">Templates</button
      >
    </li>
    <li>
      <button
        type="button"
        class="inline-flex w-full px-4 py-2 hover:bg-gray-100">Design</button
      >
    </li>
    <li>
      <button
        type="button"
        class="inline-flex w-full px-4 py-2 hover:bg-gray-100">Logos</button
      >
    </li>
  </ul>
</div>
