<div class="relative w-full">
  <input
    type="search"
    id="search-dropdown-mobile"
    class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 outline-none"
    placeholder="Buscar productos, tiendas..."
    required
  />
  <button
    type="submit"
    class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-lime-600 rounded-e-lg border border-none hover:bg-lime-700 focus:ring-1 focus:outline-none focus:ring-lime-800"
  >
    <svg
      class="w-4 h-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
    </svg>
    <span class="sr-only">Búsqueda</span>
  </button>
</div>
