<div class="hidden md:block bg-neutral-100 py-2 shadow-sm text-neutral-700">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between"
  >
    <button
      type="button"
      class="inline-flex items-center rounded-full bg-white border border-gray-300 py-2 px-3 text-sm font-medium text-gray-800 hover:text-lime-500 focus:outline-none focus:none transition-colors duration-200"
      aria-label="Ver o cambiar dirección de entrega"
    >
      <svg
        class="w-5 h-5 me-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
        ></path>
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
      </svg>
      <span class="truncate">Enviar a: Caraballeda, La Guaira, Venezuela</span>
      <svg
        class="w-3 h-3 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"></path>
      </svg>
    </button>

    <div class="flex items-center space-x-6 text-sm">
      <a
        href="/ayuda"
        class="hover:text-lime-700 transition-colors duration-200">Ayuda</a
      >
      <a href="/faqs" class="hover:text-lime-700 transition-colors duration-200"
        >FAQs</a
      >
      <a
        href="/contacto"
        class="hover:text-lime-700 transition-colors duration-200">Contacto</a
      >
    </div>
  </div>
</div>
