<button
  class="md:hidden flex items-center justify-center p-1 rounded-md bg-white text-lime-500"
  aria-label="Abrir menú de navegación"
>
  <svg
    class="w-8 h-8"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
  </svg>
</button>
